
footer {
    margin: 50px 0;
}

.categories{
    margin-bottom: 8px;
    padding: 5px;
}

.navbar{
	margin-bottom: 0px;
}

.right-sidebar, .panel-default{
	margin-top: 20px;
}

.alert-success{
	margin-top: 20px;
}