
footer {
    margin: 50px 0;
}

.categories{
    margin-bottom: 8px;
    padding: 5px;
}

.navbar{
	margin-bottom: 0px;
}

.right-sidebar, .panel-default{
	margin-top: 20px;
}

.alert-success{
	margin-top: 20px;
}

p.info{
	color:#666;
	margin-top: 12px;
}

hr.info{
	margin-bottom: 0px;
	margin-top: 8px;
}

.no-records{
	margin-top: 20px;
}